node_modules
.next
#.vscode
**/dist/**
**/build/**
**/.next/**
**/yarn-error.log
**/.env
**/out
.nyc_output

**/coverage
**/cypress/videos
**/cypress/screenshots

lerna-debug.log
.env
.env.*
.netlify

.DS_Store
.netlify

**/storybook-static
**/*sitemap.xml
**/__generated/*.spec.js
**/.turbo

create-app.json

packages/web/cypress/integration/__generated/**
docubot/markdown
docubot/preview
 