@import '../../shared/breakpoints.module';

.customfieldContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 110px;
  margin-bottom: 18px;
}

.removeSpace {
  justify-content: flex-start;
}

.errorText {
  margin-bottom: 20px;
  color: #c30b55;
  line-height: 1.4em;
}

.fieldRow {
  display: flex;
  width: 87%;

  @include breakpoint(medium) {
    width: 93%;
  }

  @include breakpoint(mediumAlt) {
    width: 94%;
  }

  @include breakpoint(xlarge) {
    width: 91%;
  }
}

.disabled {
  opacity: 0.2;
}

.fieldLabelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 6px;
}

.labelContainer {
  margin-right: 12px;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
}

.hintText {
  font-size: 12px;
  color: #d5d5d5;
  margin-top: 12px;
  line-height: 24px;
}

.required {
  color: #cc4b37;
  font-size: 90%;
  margin-right: 4px;
}
