name: Run Next Starter Example page tests and build

on: 
  push:
    branches:    
          - 'main'
    paths:
      - 'examples/lastrev-next-starter/**'
  pull_request:
    branches-ignore:    
      - 'dependabot/**'
    paths:
      - 'examples/lastrev-next-starter/**'  

jobs:
  test:
    if: github.actor != 'dependabot'
    runs-on: ubuntu-latest
    # Use default to set working-directory for whole job
    defaults: 
      run:
        working-directory: ./examples/lastrev-next-starter
    env:
      NODE_ENV: test

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - name: Setup Node.js 16
        uses: actions/setup-node@master
        with:
          node-version: 16

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Turbo Cache
        id: turbo-cache
        uses: actions/cache@v2
        with:
          path: node_modules/.cache/turbo
          key: turbo-${{ github.job }}-${{ github.ref_name }}-${{ github.sha }}
          restore-keys: |
            turbo-${{ github.job }}-${{ github.ref_name }}-            

      - name: Install project dependencies
        run: yarn --prefer-offline

      - name: Run the tests
        run: yarn turbo run test test:e2e lint